{% extends 'base.html.twig' %}

{% block title %}Forecast for {{ city.name }}, {{ city.country }}{% endblock %}

{% block body %}
<main>
    <h1>Forecast for {{ city.name }}, {{ city.country }}</h1>

    <ul>
        {% for forecast in forecasts %}
            <li>{{ forecast.timestamp | date('Y-m-d') }} : {{ forecast.temperature }} &deg;C</li>
        {% endfor %}
    </ul>
</main>
{% endblock %}
