{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <h1>City index</h1>

    <div class="table-responsive"><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>Lat</th>
                <th>Lot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.country }}</td>
                <td>{{ city.lat }}</td>
                <td>{{ city.lot }}</td>
                <td>
                    {% if is_granted('ROLE_CITY_EDIT') %}
                        <a class="btn btn-outline-warning" href="{{ path('app_city_edit', {'id': city.id}) }}">edit</a>
                    {% endif %}
                    <a class="btn btn-info" href="{{ path('app_city_show', {'id': city.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></div>
    {% if is_granted('ROLE_CITY_NEW') %}
        <a class="btn btn-outline-success" href="{{ path('app_city_new') }}">Create new</a>
    {% endif %}
{% endblock %}
